.my-navbar{
    background-color: rgb(214, 42, 42);
}

.logo{
    height: 18%;
    width: 18%;
}

.toggler-img{
    background-color: white;
    height: 25%;
    width: 25%;
}
.toggler-item{
    display: flex;
    margin-left: 20px;
    font-size: large;
    margin-bottom: 3px;
}
  .carousel-image {
    height: 940px; /* Set your desired height here */
    transform: scale(1.0); /* Set the desired zoom level here */
  }