/* MY-NAVBAR */
.logo{
    background-image: url(../assets/My-Logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 120px;
}
.toggler-img{
    background-color: white;
    color: black;
    height: 25%;
    width: 25%;
}
.toggler-item{
    display: flex;
    margin-left: 20px;
    font-size: large;
    margin-bottom: 3px;
}

/* HERO-CAROUSEL */

.my-carousel{
    height: 100vh;
}
.carousel-img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.hero-text{
    color: black;
}
.mini-hero-text{
    color: white;
}
.hero-text-3{
    color: white;
}
.mini-hero-text-3{
    color: gold;
}