.logo{
    background-image: url(../assets/My-Logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 120px;
}

.toggler-img{
    background-color: white;
    color: black;
    height: 25%;
    width: 25%;
}
.toggler-item{
    display: flex;
    margin-left: 20px;
    font-size: large;
    margin-bottom: 3px;
}